// ***********************************************************************
// Assembly         : Packit.Database.Api
// Author           : ander
// Created          : 02-20-2020
//
// Last Modified By : ander
// Last Modified On : 02-20-2020
// ***********************************************************************
// <copyright file="About.cshtml" company="Packit.Database.Api">
    //     Copyright (c) . All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
