// ***********************************************************************
// Assembly         : Packit.Database.Api
// Author           : ander
// Created          : 02-20-2020
//
// Last Modified By : ander
// Last Modified On : 02-20-2020
// ***********************************************************************
// <copyright file="Privacy.cshtml" company="Packit.Database.Api">
    //     Copyright (c) . All rights reserved.
    //
</copyright>
// <summary></summary>
// ***********************************************************************
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
